<h1>Rock Paper Scissors Battle!</h1>
<p>2 players enter, 1 player.... clicks the button?</p>
Choices:
<ol>
  <li>Rock</li>
  <li>Paper</li>
  <li>Scissors</li>
  <li>Random</li>
</ol>
<br>
<form action="/winner">
  <div class="form-group">
    <label for="player1">Player 1: Choose your weapon: </label>
    <input id="player1" name="player1" class="form-control" type="text">
  </div>
  <br>
  <div class="form-group">
    <label for="player2">Player 2: Choose your weapon: </label>
    <input id="player2" name="player2" class="form-control" type="text">
  </div>
  <br>
  <button type="submit" class="btn-success">FIGHT!</button>
</form>
